* {
	margin: 0;
	padding: 0;
	border: none;
}

.main {
	margin-top: 20px;
	background-image: url('hinh.jpg');
	background-size: cover;
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.khoi {
	width: 50%;
	height: 70%;
	background-color: #000000a6;
	text-align: center;
	padding-top: 30px;

	/*opacity: 0.6;*/
}



.search-box {
	width: 80%;
	height: 40px;
	background-color: #ffffff;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10%;
	margin-right: 10%;
}

.khoi h2 {
	color: #c00;
	font-family: arial;
}

.khoi p {
	margin: 5px 0px;
	color: white;
	font-family: arial;
}

.noidung {
	width: 90%;
	margin-top: 30px;
	margin: auto;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.content {
	width: 30%;
	margin-right: 5%;
}

.content i {
	height: 50px;
	color: white;
	font-size: 30px;
	float: left;
	display: block;
}